.card-hover:hover{
    background-color: #f1f1f1;;
}
.card-hover{
    transition: all 0.3s linear;
}
h5::first-letter , label::first-letter{
    color: #f8513c;
   
}

button{
    background-color:#faecec;
    padding: 7px 14px;
    border: none;
    transition: all 0.3s linear;
}
button:hover{
    background-color: #ec7263;
}