[*.cs]
csharp_new_line_before_open_brace = all #none
# настройка, которая управляет переносами строк перед открывающей скобкой {
#all → значит «всегда ставить перенос строки перед {» (методы, классы, блоки if, for и т.д.)